Form{
    position: relative;
    margin:auto;
    top:20vh;
    width :25rem;
    border :0.5px solid rgb(72, 72, 72);
    padding :2rem;
    box-shadow: 2px 2px 6px rgb(114, 114, 114);
}

.btnFind{
  background-color: #FF6B00;
  color: white;
  border: none;
  transition: 0.25s ease-in-out all;
}

.btnFind:hover {
  background-color: #e65a00;
  transform: translateY(-4%);
}

.btnOffer{
  background-color: #00C2A0;
  color: white;
  border: none;
  transition: 0.25s ease-in-out all;
}

.btnOffer:hover{
  background-color: #00aa88;
  transform: translateY(-4%);
}

.hero-section1-btns{
    justify-content: center;
    width: 80%;
    gap: 3rem;
    top:2rem;
    left:2rem;
}

.hero-section1{
    margin:1.5rem;
    padding:2.5rem;
    border:1px solid rgb(82, 82, 82); 
    border-radius:20px;
    box-shadow: 2px 2px 6px rgb(141, 135, 135);
    background-color: white;
    overflow: hidden;
}

.hero-section1-written-part{
    width:58%;
    top:6rem;
    left:2rem;
}

.hero-section1-written-part p{
    width:90%;
    text-align: center;
    background: linear-gradient(to right,blue,red);
    background-clip: text;
    color:transparent;
    font-size: large;
}

.hero-section1-written-part h1::before{
    content:"abcd";
    color: transparent;
    height: 9rem;
    width:7rem;
    left:10px;
    transform: translateY(-80%);
    position:absolute;
    display: block;
    background: url("../assets/undraw_vintage_q09n.svg") no-repeat center;
    background-size: contain;
}

.Navbar-right-links{
    position: relative;
    top:40%;
    justify-content: center;
    gap:3rem;
    width:20rem;
}

.links{
    color: rgb(131, 131, 131);
    font-size:0.9rem;
    background-color: #00aa88;
    align-items: center;
    justify-content: center;
}

.links:hover{
    transition: 0.25s ease-in-out all;
}

.Navbar-right-links{
    justify-content: center;
    align-items: center;
    height:100%;
    gap:3rem;
    width:20rem;
}

.links::after{
    content: "";
    display: block;
    width:90px;
    height: 2px;
    background: linear-gradient(to right,teal,rgb(226, 116, 26));
}

.Header{
    box-shadow: 1px 2px 7px rgb(190, 190, 190);
    align-items: center;
}

.ask-for-account{
    color: gray;
    font-size: 0.9rem;
}

.hero-section2-features{
    justify-content: space-evenly;
}

.hero-section2-individual-feature{
    width:16vw;
}

.hero-section2-individual-feature-icon{
    font-size: 2rem;
    width:16vw;
    color:rgb(53, 53, 53);
}

.hero-section2-individual-feature-heading{
    font-size: 1rem;
    font-family: fantasy;
    font-weight: lighter;
    text-align: center;
    color: rgb(42, 42, 42);
}

.hero-section2-individual-feature-para{
    text-align: center;
    font-size: 0.8rem;
    font-weight: 500;
    color: rgb(63, 63, 63);
}